<!--
This is the template for the Corona Overview. It takes an data object as input with the following structure:

data = {
    "locations": [
        {
            "name": xx, # float
            "incidence": xx, # float
            "active_cases": xx, # int
            "died": xx, # int
            "cured": xx # int
        }
    ],
    "meta": {
        "refresh": xx # string
    }
}
-->
<html>
    <head>
        <title>Corona &Uuml;bersicht</title>
    </head>
    <body style="background-color:#d4d4d4;">
        <h1>Corona &Uuml;bersicht</h1>
        <p>&nbsp;</p>
        <table style="border-collapse: collapse; width: 100%; height: 126px;" border="1">
            <tbody>
            <tr style="height: 18px;">
                <td style="width: 6.25%; text-align: center;">
                    <p><strong>&nbsp;</strong></p>
                </td>
                <td style="width: 22.3206%; text-align: center;">
                    <p><em><strong>F&auml;lle (Insg.)</strong></em></p>
                </td>
                <td style="width: 18.6815%; height: 18px; text-align: center;">
                    <p><span style="color: #65b3b8;"><strong>Inzidenz</strong></span></p>
                </td>
                <td style="width: 21.3436%; height: 18px; text-align: center;">
                    <p><span style="color: #ff9900;"><strong>Aktive F&auml;lle</strong></span></p>
                </td>
                <td style="width: 15.128%; height: 18px; text-align: center;">
                    <p><span style="color: #ff0000;"><strong>Gestorben</strong></span></p>
                </td>
                <td style="width: 13.5969%; height: 18px; text-align: center;">
                    <p><span style="color: #00ff00;"><strong>Genesen</strong></span></p>
                </td>
            </tr>
            {%for loc in data.locations%}
            <tr style="height: 18px;">
                <td style="width: 6.25%; text-align: center;">
                    <p><strong>{{loc.name}}</strong></p>
                </td>
                <td style="width: 6.25%; text-align: center;">
                    <p><em><strong>{{loc.cases}}</strong></em></p>
                </td>
                <td style="width: 18.6815%; height: 18px; text-align: center;"><span style="color: #65b3b8;">{{loc.incidence}}</span></td>
                <td style="width: 21.3436%; height: 18px; text-align: center;"><span style="color: #ff9900;">{{loc.active_cases}}</span></td>
                <td style="width: 15.128%; height: 18px; text-align: center;"><span style="color: #ff0000;">{{loc.died}}</span></td>
                <td style="width: 13.5969%; height: 18px; text-align: center;"><span style="color: #00ff00;">{{loc.cured}}</span></td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
        <p>Letzte Aktualisierung: {{data.meta.refresh}}</p>
    </body>
</html>